<<<<<<< HEAD
.data-container {
  text-align: center;
}

.btc{
  font-family: fantasy;
  font-size: 70px;
  color: red;
  opacity: 0.4;
  z-index: 1;
}

.eth{
  font-family: fantasy;
  font-size: 70px;
  color: #DC03FE;
  opacity: 0.4;
  z-index: 1;
}


.video {
  top: 0px;
  min-width: 100%;
  min-height: 100%;
  opacity: 1;
  z-index: -1;
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#icon{
  height:50px;
  width: auto;
}

#settings{
  height:30px;
  width: auto;
}
=======
.data-container {
  text-align: center;
}

.btc{
  font-family: fantasy;
  font-size: 70px;
  color: red;
  opacity: 0.4;
  z-index: 1;
}

.eth{
  font-family: fantasy;
  font-size: 70px;
  color: #DC03FE;
  opacity: 0.4;
  z-index: 1;
}


.video {
  top: 0px;
  min-width: 100%;
  min-height: 100%;
  opacity: 1;
  z-index: -1;
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#icon{
  height:50px;
  width: auto;
}

#settings{
  height:30px;
  width: auto;
}
>>>>>>> Initial commit
